<div class="container">
    <div class="row">
        <form (ngSubmit)="savedPost()">
            <div class="col-6">
            <div class="form-group">
                <input type="text" name="title" [(ngModel)]="newPost.title" class= "form control col-6" placeholder="Enter title.">
            </div>
            </div>
            <div class="col-6">
            <div class="form-group">
                <textarea type="text" name="description" [(ngModel)]="newPost.description" class= "form control col-6" placeholder="Bare your soul here."></textarea>
            </div>
        </div>
            <button type="submit" class="btn btn-success">Enter my thoughts!</button>
            <button (click)="deletedPost(newPost.id)" class="btn btn-danger">Delete</button>
        </form>
    </div>

</div>
